<html>
    <head>
        <title>Beyond the Streetlights</title>
    </head>

    <body>
        <div id="topNav">
            {% block topNav %}
                top nav
            {% endblock %}
        </div>

        <div id="leftNav">
            {% block leftNav %}
                left nav
            {% endblock %}
        </div>

        <div id="content">
            {% block content %}
                content
            {% endblock %}
        </div>
    </body>
</html>